<h1>My tasks</h1>
<ul>
<% @tasks.each do |task| %>
<% if task.completed == true%>
    <li>☑ <%= link_to task.title, task_path(task)%>
      <i class="fas fa-trash"></i><%= link_to "Delete Task",
        task_path(task),
        method: :delete,
        data: { confirm: "Are you sure?" }
      %>
    </li><br>
  <% else%>
    <li>◻ <%= link_to task.title, task_path(task)%>
      <i class="fas fa-trash"></i><%= link_to "Delete Task",
        task_path(task),
        method: :delete,
        data: { confirm: "Are you sure?" }
      %>
    </li><br>
  <% end%>
<% end%>
</ul>
<p><%= link_to "➕Add new task", new_path %></p>
